@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

div.container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h2.name {
    color: #FEFF80;
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h2.intro {
    color: #FCA083;
    display: inline;
    font-family: 'Ubuntu', sans-serif;
}

h4.aboutMe {
    color: #FCA083;
    font-family: 'Ubuntu', sans-serif;
    margin: 5rem;
}

h4.portfolio {
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 5rem;
    text-decoration: underline;
}

img.biopic {
    border-radius: 100%;
    height: 20rem;
    width: 20rem;
    border: 5px solid;
    border-color: #FCA083;
}

div.mainIntro {
    position: absolute;
    margin: auto;
    top: 40vh;
    bottom: 60vh;
    left: 0;
    right: 0;
}

a.viewWork {
    margin-top: 2rem;
    border-radius: 15px;
    color: #efefef;
}

a.viewWork:hover {
    background-color: rgb(232, 255, 253);
    color: rgb(153, 131, 252);
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #7CB4B8;
}

html {
    scroll-behavior: smooth;
}

canvas {
    filter: blur(2px);
    background-size: 100vh 100vw;
    position: absolute;
}

nav {
    background-color: rgb(209, 255, 251);
    z-index:1;
}

a.navbar {
    color: rgb(153, 131, 252);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

div.lowerBody {
    position: absolute;
    top: 100vh;
    background: #ffffff;
    width: 100vw;
    height: 100000px;
}

div.flow-text {
    color: #578285;
}

div.portfolio {
    background: #FCA083;
    width: 100vw;
}

