@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h2.name {
    color: #FEFF80;
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h2.intro {
    color: #FCA083;
    display: inline;
    font-family: 'Ubuntu', sans-serif;
}

div.mainIntro {
    position: absolute;
    margin: auto;
    top: 40vh;
    bottom: 60vh;
    left: 0;
    right: 0;
}

a.viewWork {
    margin-top: 2rem;
    border-radius: 15px;
    color: #efefef;
}

a.viewWork:hover {
    background-color: rgb(232, 255, 253);
    color: #FCA083;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #7CB4B8;
  scroll-behavior: smooth;
}
canvas {
    filter: blur(2px);
    background-size: 100vh 100vw;
    position: absolute;
}

nav {
    background-color: rgb(209, 255, 251);
}

a.navbar {
    color: #FCA083;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

div.lowerBody {
    position: absolute;
    top: 100vh;
    background: #ffffff;
    width: 100vw;
    height: 100000px;
}

